* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.header {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.header__menu-btn {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 18px;
  margin-left: auto;
}

.header__nav {
  display: none;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  background-color: #eee;
}

.header__nav.active {
  display: block;
}

.header__menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__menu-link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.hero {
  padding-top: 33px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 34px;
}

.hero__img-wrapper {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: -4px 9px 0px #edf7fa;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__text {
  text-align: center;
  color: #21243d;
}

.hero__title {
  margin: 0 0 21px 0;
  font-size: 32px;
  line-height: 125%;
}

.hero__description {
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 27px 0;
}

.hero__btn {
  padding: 9px 20px 9px 20px;
  background-color: #ff6464;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.recent-posts {
  background-color: #edf7fa;
  padding-top: 20px;
  padding-bottom: 38px;
  padding-left: 10px;
  padding-right: 10px;
}

.recent-posts__top {
  max-width: 855px;
  margin: 0 auto;
}

.recent-posts__link {
  display: none;
}

.recent-posts__title {
  font-weight: 400;
  font-size: 18px;
  color: #21243d;
  text-align: center;
  margin: 0;
  margin-bottom: 22px;
}

.recent-posts__container {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.recent-posts__card {
  background-color: #fff;
  padding: 12px 8px 22px 17px;
  border-radius: 4px;
}

.recent-posts__card-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 136%;
  color: #21243d;
  margin: 0;
  margin-bottom: 12px;
}

.recent-posts__card-link {
  color: inherit;
  text-decoration: none;
}

.recent-posts__card-details {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
  margin: 0;
  margin-bottom: 19px;
}

.recent-posts__card-details-item {
  margin-right: 24px;
}

.recent-posts__card-item-category {
  margin-right: 0;
}

.recent-posts__card-item-category:first-child::before {
  content: "";
}

.recent-posts__card-item-category::before {
  content: "\00A0";
}

.recent-posts__card-item-category::after {
  content: ",";
}

.recent-posts__card-item-category:last-child::after {
  content: "";
}

.recent-posts__card-excerpt {
  font-weight: 400;
  font-size: 16px;
  color: #21243d;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 27px 60px;
  }

  .header__menu-btn {
    display: none;
  }

  .header__nav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    justify-content: end;
  }

  .header__menu {
    flex-direction: row;
    gap: 35px;
  }

  .hero {
    flex-direction: row;
    max-width: 855px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 71px;
  }

  .hero__img-wrapper {
    width: 243px;
    height: 243px;
    order: 2;
  }

  .hero__text {
    width: 497px;
    order: 1;
    text-align: left;
  }

  .hero__title {
    font-size: 44px;
  }

  .recent-posts__top {
    display: flex;
    justify-content: space-between;
  }

  .recent-posts__link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #00a8cc;
    text-decoration: none;
  }

  .recent-posts__container {
    justify-content: space-between;
    flex-direction: row;
    max-width: 855px;
    margin: 0 auto;
    padding: 0;
  }

  .recent-posts__card-title {
    font-size: 26px;
  }
}
